<% title "Article Sets" %>

<% content_for (:head) do%>
	<%= javascript_include_tag 'rotate.2.1.js' %>
<% end %>


  <% for article_set in @article_sets %>
	<!-- Pass in 'factor' to define a factor in which size the set should be rendered, standard 0.5 for half size -->
	<%= render :partial => 'small_set', :locals => { :article_set => article_set, :factor => 0.5 } %>
  <% end %>


<p><%= link_to "New Article Set", new_article_set_path(article_set) %></p>
