<% title "Create a Set" %>

<script type="text/javascript" charset="utf-8">
	var _set_id = <%= @article_set_id %>;
</script>


<%= render 'form' %>

<p><%= link_to "Show sets", article_sets_path %></p>
