#canvas {
    border: 1px solid #CCCCCC;
    height: 100%;
    min-width: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
}

#panel {
	min-width: 300px;
    z-index: 10;
}


#panel .inventory_item {
	float: left;
	padding: 5px;
}

.canvas_item {
	width: auto !important;
	cursor: move;
}

.active_element .ui-wrapper{
	border: 1px dashed #95006A;
}

.toolbox ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.toolbox ul li{
	float:left;
	padding: 5px;
}

 .ui-resizable-handle {
	background: none;
}

.active_element .ui-resizable-handle {
	background: url("/images/icons/handle.png") no-repeat !important;
}
.active_element img {
 		zoom: 1;
        filter: alpha(opacity=70);
        opacity: 0.7;
}
.ui-resizable-se {
	margin-right: -10px;
	margin-bottom: -10px;
}

#drag_here {
	color: #ccc;
	font-size: 24px;
	text-transform: uppercase;
	position: absolute;
	left: 130px;
	top: 160px;
}

.canvas_item .delete_link {
	position: relative;
	margin-left: 48%;
	margin-top: -15px;
	font-size: 12px;
	display: none;
}
.active_element .delete_link {
	display: block;
}