<ul class="profile_links">
   <li><%= link_to t('profile.edit'), edit_user_path(@user), :title => t('profile.edit')%></li>		
   <li><%= link_to t('pages.sets'), sets_url, :title => t('pages.sets')%></li>
   <li><%= link_to t('pages.orders'), orders_url, :title => t('pages.orders')%></li>
   <li><%= link_to t('profile.change_password'), orders_url, :title => t('profile.change_password')%></li>
</ul>