<h1><%= t 'oders' %></h1>

<table>
  <tr>
    <th>Order from</th>
    <th>Cart</th>
  </tr>

<% if !@orders.blank? %>
  <% for order in @orders %>
    <tr>
      <td><%= order.created_at.to_formatted_s %></td>
      <td><%= order.cart_id %></td>
    </tr>
  <% end %>
<% else %>
  No orders yet.
<% end %>

</table>