<% title t('pages.contact'), false %>

<div class="registration">

<h2><%= t 'pages.contact' %></h2>
<p>Simply submit the form and click 'submit' to send an enquiry.</p>

<%= render :partial => "supports/form" %>

</div>
