<% title t 'pages.our_story.title' %>

<div class="registration">
	<h2><%= t 'pages.our_story.title' %></h2>
	<div class="padding_10">
		<p><%= t 'pages.our_story.text1' %></p>
		<p><%= t 'pages.our_story.text2' %></p>
		<p><%= t 'pages.our_story.text3' %></p>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>