<% title t 'pages.terms' %>


<div class="registration">

<h2><%= t 'pages.terms' %></h2>

<h4>1. Introduction</h4>

	<p>
	The SOTACA1898 is operated by The Robot Jungle Limited, a company registered
	in UK under registration number 07625541. If you have any comments about The
	SOTACA1898, you can email us at <a href="mailto:info@sotaca1898.com">info@sotaca1898.com</a>.<br/>
	Access to and use of this Website and the products and services available through
	this Website (“Services”) are subject to the following terms, conditions and
	notices (the "Terms of Service").<br/>
	When you use this Web Site or buy via this Web Site you are agreeing to all of the
	Terms of Service, as may be updated by us from time to time. Therefore please
	read these Terms and Conditions carefully because by accessing and ordering a
	product, you agree to be bound by same Terms and Conditions.<br/>
	Access to this Website is permitted on a temporary basis, and we reserve the right
	to withdraw or amend the Services without notice. We will not be liable if for
	any reason this Website is unavailable at any time or for any period. From time
	to time, we may restrict access to some parts or all of this Website. This Website
	accepts no responsibility for 3rd party websites to which it may link to.
	</p>
	
	<h4>2. Copyright notice</h4>
	<p>
	Copyright in the documents provided in this site (including, without limitation, the
	trademarks of SOTACA1898, logos, graphics, text, photos, designs, logos, icons,
	images, data and software) provided in this web site are owned by or licensed to
	SOTACA1898.<br/>
	For press inquiries please email <a href="mailto:press@sotaca1898.com">press@sotaca1898.com</a>.<br/>
	</p>
	
	<h4>3. Registration</h4>
	<p>
	To use some of the services or features made available to you on this Site, you
	will need to register. When you register you are required to provide information
	about yourself that is true, accurate, current and complete in all respects. Should
	any of your registration information change, please notify us immediately at the
	following e-mail address <a href="mailto:info@sotaca1898.com">info@sotaca1898.com</a>. We may also change registration
	requirements from time to time.<br/>
<br/>
	The account password you provide should be unique and kept secure, and you
	must notify SOTACA1898 immediately of any breach of security or unauthorized
	use of your account.
<br/><br/>
	Please refer to our Privacy Policy for information about how we use your data.
	</p>

	<h4>4. Private policy</h4>
	<p>
	SOTACA1898 respects your privacy. We handle your personal information in
	a respectful manner. We are responsible for all personal information given to us
	by you, such as name, address, and other obligatory information needed when
	registering as well as ordering at SOTACA1898.COM. SOTACA1898 will not
	pass any of your personal information to third parties.<br/>
	We use your email addresses to update you on new products in the Newsletters.
	The name, postal address and phone number are used when processing orders and
	delivering merchandise. If you have any questions regarding private policy, do not
	hesitate to contact us at <a href="mailto:info@sotaca1898.com">info@sotaca1898.com</a>
	</p>
	
	<h4>5. Product presentation</h4>
	<p>
	Whilst we take every care to ensure that the information on this website is
	accurate and complete, some of it may be supplied to us by third parties and
	we are unable to check its accuracy or completeness. All sizes shown are those
	shown via the website’s sizing guide. We try to ensure that the product colour
	is as accurate as possible, but the colours shown may vary depending upon the
	setting of your computer monitor. We cannot guarantee that the colour shown will
	accurately reflect the colour upon delivery. We strive to present the most recent
	and reliable information on SOTACA1898. However, there may be occasions
	where certain items are selected in limited items and therefore may not always be
	available. We may not be able to replenish the stock on our website once an item
	is sold. In case you are interested or have any questions regarding an item, do not
	hesitate to contact us at <a href="mailto:info@sotaca1898.com">info@sotaca1898.com</a>.
	</p>

	<h4>6. Terms of Sale</h4>
	<p>
	By placing an order you are offering to purchase a product on and subject to the
	following terms and conditions. All orders are subject to availability and
	confirmation of the order price. Dispatch times may vary according to availability
	and there are no guarantees as to delivery times.<br/>
	In order to use the Services made available by the Web Site you must be over 18
	years of age and possess a valid credit or debit card issued by a bank acceptable to
	us. We retain the right to refuse any request made by you. If your order is
	accepted we will inform you by e-mail and we will confirm the identity of the
	party which you have contracted with. This will usually be Robot Jungle Limited
	or may in some cases be a third party. Where a contract is made with a third party,
	SOTACA1898.COM is not acting as either agent or principal and the contract is
	made between yourself and that third party and will be subject to the terms of sale
	which they supply you. When placing an order you undertake that all details you
	provide to us are true and accurate, that you are an authorized user of the credit or
	debit card used to place your order and that there are sufficient funds to cover the
	cost of the goods. The cost of foreign products and services may fluctuate. All
	prices advertised are subject to such changes.<br/>
<br/>
	(a) Our Contract<br/>
	When you place an order, you will receive an acknowledgement e-mail
	confirming receipt of your order: this e-mail will only be an acknowledgement
	and will not constitute acceptance of your order. A contract between us will not be
	formed until we send you confirmation by e-mail that the goods which you
	ordered have been dispatched to you. Only those goods listed in the confirmation
	e-mail sent at the time of dispatch will be included in the contract formed.
<br/><br/>
	(b) Pricing and Availability<br/>
	Whilst we try and ensure that all details, descriptions and prices which appear on
	this Website are accurate, errors may occur. If we discover an error in the price of
	any goods which you have ordered we will inform you of this as soon as possible
	and give you the option of reconfirming your order at the correct price or
	canceling it. If we are unable to contact you we will treat the order as cancelled. If
	you cancel and you have already paid for the goods, you will receive a full refund.
	Delivery costs will be charged in addition; such additional charges are clearly
	displayed where applicable and included in the 'Total Cost'.<br/>
<br/>
	(c) Payment<br/>
	Upon receiving your order we carry out a standard pre-authorisation check on
	your payment card to ensure there are sufficient funds to fulfill the transaction.
	Goods will not be dispatched until this pre-authorisation check has been
	completed. Your card will be debited once the order has been accepted.
	</p>
	
	<h4>7. Payment</h4>
	<p>
	Payment can be made by Visa, Visa Electron, Visa Debit, Visa Delta, MasterCard,
	American Express and any other methods which may be clearly advertised
	on the Site from time to time. Payment will be debited and cleared from your
	account upon completion of the packing of your order by SOTACA1898. You
	confirm that the credit/debit card that is being used is yours or that you have
	been specifically authorized by the owner of the credit/debit card to use it. All
	credit/debit card holders are subject to validation checks and authorization by the
	card issuer. If the issuer of your payment card refuses to authorize payment to
	SOTACA1898, we will not be liable for any delay or non-delivery.
	</p>
	
	<h4>8. Security</h4>
	<p>
	We take reasonable care to make our Site secure. All credit/debit card transactions
	on this site are processed using Paypal Pro, a secure online payment gateway that
	encrypts your card details in a secure host environment. If you are a registered
	SOTACA1898 user, we will securely store your credit/debit card details on our
	systems. These details will be fully encrypted and only used to process card
	transactions which you have initiated.<br/>
	To help ensure that your shopping experience is safe, simple and secure
	SOTACA1898 uses Secure Socket Layer (SSL) technology.<br/>
	Furthermore, we will take reasonable care, in so far as it is in our power to do
	so, to keep the details of your order and payment secure, but in the absence of
	negligence on our part we cannot be held liable for any loss you may suffer if a
	third party procures unauthorized access to any data you provide when accessing
	or ordering from the Site.
	</p>
	
	<h4>9. Delivery</h4>
	<p>
	We ship via Royal mail and EMS. Both include tracking and signature
	confirmation. Your order typically arrives within 1-2 weeks, but can be faster
	depending on your location. Custom fees and any taxes associated with your
	purchase are the responsibility of the customer. Customs authorities require us to
	state the value of the item directly on the package.
	</p>
	
	<h4>10. Returns and exchange</h4>
	<p>
	Returns/exchange are accepted within 14 days from the date of receipt. For items
	received after this time period, we reserve the right to deny the return/exchange.
	All returns must be shipped via traceable and insured mail. Returns must be
	received in new, unworn, and unwashed condition and with all tags attached.
	Refunds are made within 30 days upon receipt of the return, and exchanges are
	made within our delivery time frame. Please note that your right to return products
	does NOT apply to products which fall into the following categories unless they
	are faulty: jewellery for piercings, swimwear and lingerie, unsealed hosiery,
	unsealed DVDs or CDs, in the case of an item with a hygiene seal you must not
	remove the seal prior to returning the item or SOTACA1898 will not accept the
	return.
	</p>
	
	<h4>11. Unclaimed packages</h4>
	<p>
	Unclaimed packages are charged both our shipping fee and the return fee from our
	shipping company.
	</p>
	
	<h4>12. Cookies</h4>
	<p>
	Cookies are use in the site, in order to improve your experience of the site. The
	cookie identifies your computer and allows the site to remember your personal
	settings. Cookies are also used for statistical purposes.<br/>
	You can set your browser to notify you when a cookie is to be activated. This
	enables you to reject usage of this cookie or to tell your browser to erase the
	cookie at the end of your visit. The site cannot be used if cookies are disallowed.
	</p>
	
	<h4>13. Links</h4>
	<p>
	We may include hyperlinks on this Site to other websites or resources operated
	by parties other than SOTACA1898, including advertisers. SOTACA1898 has
	not reviewed all of the sites linked to its Web Site and is not responsible for
	the content or accuracy of any off-site pages nor are we responsible for the
	availability of such external websites or resources, and do not endorse and are not
	responsible or liable, directly or indirectly, for the privacy practices or the content
	of such websites, including (without limitation) any advertising, products or other
	materials or services on or available from such websites or resources, nor for any
	damage, loss or offence caused or alleged to be caused by, or in connection with,
	the use of or reliance on any such content, goods or services available on such
	external websites or resources.
	</p>
	
	<h4>14. Force Majeure</h4>
	<p>
	If SOTACA1898.COM is prevented or delayed (directly or indirectly) from
	making delivery of the Products or any portion of the Products on the agreed
	date of delivery or from otherwise performing this or any part of this agreement
	by reason of act(s) of God, war, embargo, riot(s), strike(s), lock-out(s), trade
	dispute(s), fire(s), break-down, inclement weather, interruption of transport,
	Government action, delay in delivery to farfetch.com Limited of any goods or
	materials or by any cause whatsoever (whether or not of like nature to those
	specified above) in each case outside such SOTACA1898.COM control («force
	majeure»), neither party hereto shall be under any liability whatsoever to the other
	party by reason of such event.
	</p>
</p>
<br/>
<br/>
<br/>
<br/>
</div>
