<div class="registration">

	<h2><%= t 'pages.whole_sale' %></h2>


	<p>Simply complete the form and click 'submit' to send an enquiry.</p>

<div id="contact">

<%= render :partial => "supports/wholesale_form" %>

</div>

</div>