<h4>name: <%= @social_share.name %></h4>

<%= @social_share.sender_name %> wants to share this from Sotaca1898! <br/>
<br/>


<br/>

<br/><br/>
<%= @social_share.sender_name %>'s message: <%= @social_share.message %>

<br/><br/>