<div class="product">
	<div class="image">	
		<% product.assets.first(1).each do |asset| %>
			<%= link_to(image_tag(asset.image.url(:thumb).to_s), product, :title => product.title )%>
		<% end %>
    </div> 
  <%= link_to product.title,  product, :class => "title_link", :title => product.title %>
  <span class="cart"><%= link_to image_tag('cart.gif'), line_items_path(:product_id => product), :method => :post, :title => "add to cart" %></span>
<% params[:locale] == "cn" ? currency = 'CNY' : currency = 'GBP'%>
  <span class="product_price"><%= number_to_currency(product.price.exchange_to(currency)) %></span>
</div>